.box {
    position: absolute;
    z-index: 1;
}

.center {
    top: 50%;
    left: 50%;
}

.green {
    background-color: green;
}

.size100 {
    height: 100px;
    width: 100px;
}

.size200 {
    height: 200px;
    width: 200px;
}

.selected {
    border: 4px solid black;
}

.circle {
    border-radius: 50%;
}

.animateSize {
    transition: width 1s, height 1s;
}
