@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import("kmom05.css");

h1 {
    text-align: center;
}

h3 {
    color: black;
}

.content {
    border: 1px solid black;
    background-color: #eee;
    padding: 20px;
    margin: 0 auto;
    width: 1000px;
    border-radius: 15px;
}

html {
    background-image: url("../img/pexels-szaboÌ-viktor-3228418.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    font-family: 'Sanchez', serif;
}

a {
    color: papayawhip;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: antiquewhite;
}

html::after {
    content: "";
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.2;
}

body {
    margin: 8px auto;
    padding: 8px;
    width: 1150px;
    border-radius: 10px;

    /** background-color: #eee; **/
}

main {
    min-height: 20em;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    border-radius: 10px;
}

article {
    padding: 10px;
}

article > header {
    text-align: center;
}

.all-browsers {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0.6em;
    border: 1px solid #999;
    border-radius: 10px;
    color: #eee;
    overflow: auto;
}

.kmom {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 98%;
    padding: 10px;
    background-color: rgba(244, 242, 247, 0.7);
    opacity: 1;
    border: 1px solid #999;
    border-radius: 10px;
    color: black;
    overflow: auto;
    clear: both;
}


.navbar {
    margin-top: 5px;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #999;
}

.navbar .selected {
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 1;
}

.navbar a {
    display: inline-block;
    padding: 0.4em 0.8em;
    text-align: center;
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
}

.site-header {
    overflow: auto; /* clear fix to make div span all elements */
    background: transparent;
    color: black;
}